/* @theme traP */

@import 'uncover';


/* text */   
section h1, section h2, section h3, section h4, section h5, section h6,
section section, section table, section li, section blockquote, section th, section td, section p {
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    color: #2d4459;
    text-align: left;
    line-height: 1.5;
    letter-spacing: normal;
    text-shadow: none;
    word-wrap: break-word;
}

/* background */
section {
    font-size: 16px;
    position: relative;
    background-size: 100% auto;
    display: inline-block;
    padding: 0;
}

/* background image */

section.title {
    background-image: url(theme/bg_image/title.png);
}

section.slides {
    background-image: url(theme/bg_image/slide.png);
}

section.user {
    background-image: url(theme/bg_image/user.png);
}


section h1 { font-size: 4rem; }
section h2 { font-size: 3rem; }

/* title */

section.title h1, section.title h2 {
    text-align: center;
    margin-top: 16.6rem
}

section.title h3 {
    margin: 4rem 12rem 0 12rem;
    text-align: right;
    font-size: 2rem
}

/* user */

section.user>p, section.user>ul,section.user>ol, section.user>h3, section.user>code, section.user>h6{
    margin: 0.5rem 10rem 0 10rem
}

section.user h1, section.user h2 {
    font-weight: normal;
    font-family: futura-pt, sans-serif;
    color: #809ca6;
    margin: 5.2rem 2rem 4rem 8.5rem;
    padding: 0;
    display: flex;
    align-items: flex-end;
}


section.user h1>img {
    margin: 1rem 6.5rem 0.5rem 1rem;
    height: 9rem;
    width: auto
}


/* slides */

section.slides>p,  section.slides>h3, section.slides>code, section.slides>h6, section.slides>blockquote{
  margin: 0.5rem 10rem 0 10rem
}

section.slides>ul,section.slides>ol {
    margin: 0.5rem 10rem 0 8rem
}

section.slides h1, section.slides h2 {
    margin: 5rem 2rem 3rem 7rem;
    padding: 0;
}


section.slides img {
    margin: 1rem;
    width: 45%;
    height: auto;
}



/* other */

section ul > li {
    list-style: none;
    background-image: url(theme/bg_image/list.png);
    background-repeat: no-repeat;
    background-position: 0 0.8rem;
    background-size: 0.6rem;
    padding-left: 1.2rem;
}

section mark {
    color: inherit;
    background: #ff0c;
}

section .footnotes li, section .footnotes li p {
    color: #809ca6;
}
section .alert {
    padding: 20px;
}
section h1 code,
section h2 code,
section h3 code,
section h4 code,
section h5 code {
    font-size: inherit;
}

section section > div {
    max-height: 88vh;
    overflow: hidden;
}
section .slides > section.stack {
    padding: 20px 0;
}

pre {
    display: flex;
    padding: 0;
    margin: 1rem 10rem;
    text-align: left;
}
pre>code {
    padding: 0.3rem 1rem;
    line-height: 1.4;
}

section code {
    line-height: 1.2;
    font-size: 1.8rem;
    margin: 0
}



/* table design */
section table {background: #f5f5f5;}
section th {background: #444; color: #fff;}
section td {position: relative; transition: all 300ms;}
section tbody:hover td { color: transparent; text-shadow: 0 0 3px #aaa;}
section tbody:hover tr:hover td {color: #444; text-shadow: 0 1px 0 #fff;}


/* blockquote design */
section blockquote {
    padding: 0.5rem 0.5rem 0.5rem 2.5rem;
    font-style: italic;
    background: #f5f5f5;
}

/* font size */

section section, section table, section li, section blockquote, section th, section td, section p {font-size: 1.8rem;}